<br />
<br />
<br />
<div class="container">
    <p class="justify">We are pleased to introduce to you our company, <strong>Sangtech Technologies Nig. Ltd</strong>, a leading information technology (IT) solutions provider. We are experts in software development and other IT solutions aimed at improving business processes, increase Profits and cut cost for our clients and businesses at large. We push technical boundaries, and change the competitive landscape providing businesses with the various IT Solutions they need.</p>
    <p>&nbsp;</p>
    <p class="justify">Over the years, we have established ourselves as reputable providers of Customized and Product based Software Solutions to clients with outstanding global delivery mechanism and professionalism.</p>
    <p>&nbsp;</p>
    <p class="justify">As a part of our mission to improve and automate processes for a better customer service delivery for our clients, we are glad to introduce the <strong>Quench Hunger Food App</strong>. An Application built to help handle more orders in your restaurant while saving time, preventing order cancellation, improving order accuracy and increasing customers engagement in your everyday service delivery. In addition, it helps promote your business through loyalty programs, thereby encouraging customer retention, increased sales etc.</p>
    <p>&nbsp;</p>
    <p class="justify">As it is in our corporate culture, we will leave no stone unturned in providing you with a FoodApp designed specially to suit your business needs.</p>
    <br>
    <p><strong>ABOUT THE QUENCH HUNGER FOOD APP</strong></p>
    <p>&nbsp;</p>
    <p class="justify">The Quench Hunger Food App is an online based Mobile App designed to help customers locate your restaurant/ hotel, select foods they want to eat, place orders, make reservations, make payments and get their orders delivered to them using Dispatch riders. The Application is designed to manage day to day restaurant data and help create accuracy in order management and deliveries. It also helps customers in tracking foods delivery in real time from your restaurant to them(customers).</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>OUR PROCESS</strong></p>
    <p>&nbsp;</p>
    <ul>
        <p class="justify"></p>
        <li>We work with clients to understand their business and merge their concept with our already thought out functions to create a Standard App to suit their business.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>When it comes to first impressions, it is all about design. We will put our passion for good design to work. If the wireframes are approved, we will go ahead to design all screens.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>The development process is broken down into sprints based on feature sets and after each phase, we send you a report and Demo files on the progress. Our agile-based development process will allow you to regularly review and assess what we are building.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>Our Quality Assurance team will test the app after each development sprint, and once all major functionalities are implemented, we will prepare a Beta Build.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>After passing the Beta Build through a final round of QA and refinements, we will have in our hands a Release Candid Build. We can either submit the app to the App Stores or provide you with everything you need to do it yourself.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>We provide our clients with a 3-month bug fixing period, free of charge and maintenance packages that cover everything from small updates to whole new versions.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>Our approach is to divide the whole project into major components. So, mobile app for catalog and taking orders, restaurant web-based interface for active orders, restaurant smartwatch app to be used by waiters, administrator area with two levels authentication (employee and admin) backend (db. and API) service presentation website.</li>
    </ul>
    <p>&nbsp;</p>

    <p><strong>WHY INVEST IN THIS?</strong></p>
    <p>&nbsp;</p>

    <ul>
        <li>Increase Sales and Return of Investment.</li>
        <li>Generate more buying customers.</li>
    </ul>
    <ul>
        <li>Engage Customers with Unique Features.</li>
        <li>Mobile Scheduling and Reminders.</li>
        <li>Notifications for Sales or Special Offers.</li>
    </ul>
    <ul>
        <li>Loyalty Reward Programs</li>
        <li>Make Engaging with Your Company More Efficient</li>
    </ul>
    <ul>
        <li>Build Brand Recognition and Awareness</li>
    </ul>
    <p>&nbsp;</p>

    <p><strong>KEY FUNCTIONALITIES</strong></p>
    <p>&nbsp;</p>
    <ol>
        <li><strong>Menu</strong></li>
    </ol>
    <p>&nbsp;</p>
    <ul>
        <li>List of menu categories. The menu will be grouped into categories, each category has a list of dishes.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>List of products from category. After selecting a menu category, users can see the dishes or products, their prices and can add them to his/her orders or cart.</li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ol start="2">
        <li><strong>Orders</strong></li>
    </ol>
    <p><strong>&nbsp;</strong></p>
    <ul>
        <li>Add order from menu. Users can make an order when he/she is outside the restaurant and come to the restaurant location to take the order or request a delivery.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>Current order. Everything the users select from the menu will be visible in the current order, before placing it.</li>
    </ul>
    <p>&nbsp;</p>
    <ol start="3">
        <li><strong>Personalized Service</strong></li>
    </ol>
    <p><strong>&nbsp;</strong></p>
    <ol>
        <li>Select current user. This allows several employees to access the interface by inputting their user code/password.</li>
    </ol>
    <p><strong>&nbsp;</strong></p>
    <ol start="2">
        <li>See list of tables<strong>.</strong> The restaurant employees will see the list of tables with their status (reserved or Open) and will be able to open the table details screen.</li>
    </ol>
    <p><strong>&nbsp;</strong></p>
    <ul>
        <li>Current order. The table details contain the current order with all its products</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>Change table or order. It helps customer to change their table for different reasons.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>Invoice and partial invoice. It helps employees to print the partial invoice.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>Make reservation. It helps employees to make and confirm reservation.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>See list of orders outside the app. It helps to view list of all the reservations that are pending or active.</li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ol start="4">
        <li><strong>Customer Sign up and Login</strong></li>
    </ol>
    <p><strong>&nbsp;</strong></p>
    <ul>
        <li>Customers can sign up and have accounts where they can login to place orders, add their details, write reviews, participate in promos and other features.</li>
    </ul>
    <p>&nbsp;</p>
    <ol start="5">
        <li><strong> Payments</strong></li>
    </ol>
    <p>&nbsp;</p>
    <p>This icon will contain all payment options which will be highly secured to protect customers details such as card and bank details.</p>
    <p>&nbsp;</p>

    <p><strong>TECHNICAL DESIGN</strong></p>
    <p>&nbsp;</p>
    <p><strong>Design</strong></p>
    <p>&nbsp;</p>
    <ol>
        <li>App icon, logo &amp; splash screen.</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="2">
        <li>Mobile app design for smartphones (1242 x 2208) should work for smaller size screens with similar ratio and also will be compatible with different versions of Operating systems (Android, Blackberry and IOS).</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="3">
        <li>Restaurant web-based interface. This will be designed to run on touch screen PCs that have a printer connected.</li>
    </ol>
    <p>&nbsp;</p>
    <ol start="4">
        <li>Service presentation website.</li>
    </ol>
    <p>&nbsp;</p>
    <p><strong>Mobile App</strong></p>
    <p>&nbsp;</p>
    <ol>
        <li>This is meant to detect whether a user is inside or outside the restaurant/hotel. If the user is inside the restaurant, she/he will have small new features like partial payment or pinging the waiter.</li>
    </ol>
    <p>&nbsp;</p>
    <ul>
        <li>Search if the restaurant has beacon technology and choose to enter.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>Search using GPS to locate where the restaurant is located.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>Request a table and wait for restaurant&rsquo;s approval in cases where it is the restaurant&rsquo;s setting.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>Restaurant admins have a setting that controls when users can access your restaurant/hotels directly or if they need employee approval to access the restaurant.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
        <li>Employees would wear a smartwatch to receive notifications in real time, instead of having to check the restaurant&rsquo;s web interface.</li>
    </ul>
</div>