<br />
<br />
<section class="contact-page inner-page">
    <div class="container">
        <div align="center">
            <p style="font-size:large;color:chartreuse">
                Thanku For Contract us We will get back you soon...
            </p>

        </div>
    </div>
 </section>