@Html.BeginForm("VerifyPayment", "Payment", FormMethod.Post)
{                          
 <div class="container m-t-30">
    <div class="widget clearfix">
        <!-- /widget heading -->
        <div class="widget-heading">
            <div align="center">
                <h3 class="widget-title text-dark">
                    Online  Payment  Verification
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-body">

            <div class="row">
                <div class="col-sm-12 margin-b-30">
                    <div align="center">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td align="right"> Transaction Id</td>
                                    <td>
                                        <input type="text" value="" name="txnid" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right"> Transaction Amount </td>
                                    <td>
                                        <input type="text" value="" name="amt" />
                                    </td>
                                </tr>
                                <tr>
                                  
                                       <td colspan="2" align="center">
                                        <input type="submit" value=" Verify Payment " class="btn btn-lg theme-btn" />
                                       </td>
                                    
                                </tr>
                               <tr>
                                   <td align="center" colspan="2" style="color:forestgreen;font-size:larger">
                                       @ViewBag.Message;
                                   </td>
                               </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
}
